<div class="m-2">
  <p-mortgage-loan-overview-header
    [monthlyInstalmentGroups]="monthlyInstalmentBatches()"
  ></p-mortgage-loan-overview-header>

  <div class="mt-2 p-2 card">
    <div
      class="d-flex align-items-center justify-content-between shadow-sm rounded"
    >
      <p-dropdown-select
        [items]="dropDownSelectOptions$ | async"
        [selectedItem]="selectedRepaymentScheduleName$ | async"
        placeholder="No Selection"
        (selectionChange)="onDropdownSelected($event)"
      />
      <p-numeric-input
        id="targetAmount"
        [value]="monthlyAmount()"
        (valueChange)="onMonthlyAmountChange($event)"
      />
      <p-numeric-input
        id="targetAmount"
        [value]="payments()"
        (valueChange)="onPaymentsChange($event)"
      />
    </div>
    <p-mortgage-loan-overview-body-table
      [monthlyInstalmentGroups]="monthlyInstalmentBatches()"
    />
  </div>
</div>
