<p-top-bar [hasFiltersContent]="true">
  <ng-container module-navigation>
    <p-toggle-button-actions
      [options]="['Summary', 'Products']"
      [selected]="'Products'"
      (selectionChange)="onSelectionChange($event)"
  /></ng-container>
  <ng-container filter-content>
    <p-date-range-picker
      [startDate]="startDate$ | async"
      [endDate]="endDate$ | async"
      [minDate]="minDate"
      [maxDate]="now"
      (valueChanged)="handleRangeChange($event)"
    />
    <div class="mt-2">
      <p-search-input (search)="onSearch($event)" />
    </div>
  </ng-container>
</p-top-bar>

<div class="m-2">
  <div>
    <p-highcharts-wrapper
      [chartOptions]="dailyPurchasedProductChart$ | async"
    />
  </div>
  <div class="mt-2">
    <p-highcharts-wrapper
      [chartOptions]="productPriceTrendChartUtils$ | async"
    />
  </div>
</div>
