<div class="charts-container mb-3">
  <p-highcharts-wrapper
    class="chart-wrapper"
    [chartOptions]="mortgageInterestProgressChart()"
    ><ng-container p-highcharts-wrapper-content>
      <div class="m-2 d-flex align-items-center justify-content-between">
        <div class="w-50">
          <!-- <div class="title">Progress</div> -->
          <p-toggle-button
            id="asdasdas"
            [options]="[
              { label: 'Pie', iconPath: 'assets/icons/pie-chart.svg' },
              { label: 'Bar', iconPath: 'assets/icons/bar-chart.svg' },
            ]"
            [selected]="progressPaymentChartTypeChange()"
            (selectionChange)="onProgressPaymentChartTypeChange($event)"
          />
        </div>
        <div class="w-50">
          <p-toggle-button
            id="asdasdasasdsad"
            [options]="[
              { label: 'Credit' },
              { label: 'Dobanda' },
              { label: 'Total' },
            ]"
            [selected]="progressPaymentViewChange()"
            [gradient]="{
              primaryColor: '#047f94',
              secondaryColor: '#d5a326',
            }"
            (selectionChange)="onProgressPaymentViewChange($event)"
          />
        </div>
      </div> </ng-container
  ></p-highcharts-wrapper>

  <p-highcharts-wrapper
    class="chart-wrapper"
    [chartOptions]="mortgageLoanMonthlyPaymentsChart()"
  >
    <ng-container p-highcharts-wrapper-content>
      <div class="m-2 d-flex align-items-center justify-content-between">
        <div class="title">Plati Lunare</div>
        <div class="w-50">
          <p-toggle-button
            [options]="[{ label: 'Prd. Fixa' }, { label: 'Prd. Totala' }]"
            [selected]="monthlyPaymentViewChange()"
            [gradient]="{
              primaryColor: '#047f94',
              secondaryColor: '#d5a326',
            }"
            (selectionChange)="onMonthlyPaymentViewChange($event)"
          />
        </div>
      </div> </ng-container
  ></p-highcharts-wrapper>
</div>

<p-historical-instalments-table
  [showOnlyTotalRow]="true"
  [monthlyInstalmentGroups]="historicalInstalmentPaymentBatches()"
></p-historical-instalments-table>
