<div class="charts-container mb-2">
  @if (chartBasePaymentChange() === "pie-chart") {
    <p-highcharts-wrapper
      class="chart-wrapper"
      [chartOptions]="interestProgressPieChart()"
      ><ng-container p-highcharts-wrapper-content>
        <div class="my-2 d-flex align-items-center justify-content-between">
          <div style="width: 45%">
            <ng-container *ngTemplateOutlet="chartTypeSelector"></ng-container>
          </div>
          <div class="w-50">
            <p-toggle-button
              [options]="[
                { label: 'Credit' },
                { label: 'Dobanda' },
                { label: 'Total' },
              ]"
              [selected]="progressPaymentViewChange()"
              [gradient]="{
                primaryColor: '#047f94',
                secondaryColor: '#d5a326',
              }"
              (selectionChange)="onProgressPaymentViewChange($event)"
            />
          </div>
        </div> </ng-container
    ></p-highcharts-wrapper>
  } @else if (chartBasePaymentChange() === "columns-chart") {
    <p-highcharts-wrapper
      class="chart-wrapper"
      [chartOptions]="loanMonthlyPaymentsChart()"
    >
      <ng-container p-highcharts-wrapper-content>
        <div class="my-2 d-flex align-items-center justify-content-between">
          <div style="width: 45%">
            <ng-container *ngTemplateOutlet="chartTypeSelector"></ng-container>
          </div>
          <div class="w-50">
            <p-toggle-button
              [options]="[{ label: 'Prd. Fixa' }, { label: 'Prd. Totala' }]"
              [selected]="monthlyPaymentViewChange()"
              [gradient]="{
                primaryColor: '#047f94',
                secondaryColor: '#d5a326',
              }"
              (selectionChange)="onMonthlyPaymentViewChange($event)"
            />
          </div>
        </div> </ng-container
    ></p-highcharts-wrapper>
  } @else if (chartBasePaymentChange() === "dot-bar-chart") {
    <p-highcharts-wrapper class="chart-wrapper" [chartOptions]="dotBarChart()">
      <ng-container p-highcharts-wrapper-content>
        <div class="my-2 d-flex align-items-center justify-content-between">
          <div style="width: 45%">
            <ng-container *ngTemplateOutlet="chartTypeSelector"></ng-container>
          </div>
        </div> </ng-container
    ></p-highcharts-wrapper>
  } @else {
    <p-highcharts-wrapper
      class="chart-wrapper"
      [chartOptions]="interestProgressBarChart()"
      ><ng-container p-highcharts-wrapper-content>
        <div class="my-2 d-flex align-items-center justify-content-between">
          <div style="width: 45%">
            <ng-container *ngTemplateOutlet="chartTypeSelector"></ng-container>
          </div>
        </div> </ng-container
    ></p-highcharts-wrapper>
  }
</div>

<ng-template #chartTypeSelector>
  <p-toggle-button
    [options]="[
      {
        label: 'pie-chart',
        iconPath: 'assets/icons/pie-chart.svg',
      },
      {
        label: 'bars-chart',
        iconPath: 'assets/icons/bar-chart.svg',
      },
      {
        label: 'columns-chart',
        iconPath: 'assets/icons/column-chart.svg',
      },
      {
        label: 'dot-bar-chart',
        iconPath: 'assets/icons/dot-bar-chart.svg',
      },
    ]"
    [selected]="chartBasePaymentChange()"
    (selectionChange)="onChartBasePaymentChange($event)"
  />
</ng-template>

<p-historical-instalments-table
  [showOnlyTotalRow]="true"
  [monthlyInstalmentGroups]="historicalInstalmentPaymentBatches()"
></p-historical-instalments-table>
